body {
    font-family: Calibri, sans-serif;
    background-color: #ffffff; /* Branco */
    color: #008000; /* Verde */
}

.navbar-brand {
    color: #008000; /* Verde */
}

.navbar-light .navbar-nav .nav-link {
    color: #008000; /* Verde */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #005700; /* Verde mais escuro */
}

.container {
    margin-top: 50px;
}

.img-fluid {
    border-radius: 10px;
}

h3 {
    color: #008000; /*Verde*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

/* Navbar */
.navbar {
    background-color: #ffffff !important;
    font-family: Calibri, sans-serif;
    padding-top: 10px; /* Espaçamento interno da navbar */
    padding-bottom: 10px; /* Espaçamento interno da navbar */
}
.navbar-brand {
    padding: 0; /* Removendo padding da marca da navbar */
}
.navbar-nav .nav-link {
    color: #008000 !important;
}
.dropdown-menu {
    background-color: #008000;
}
.dropdown-menu .dropdown-item {
    color: #ffffff !important;
}
/* Ajuste da palavra "Menu" */
.navbar .navbar-nav .nav-link.dropdown-toggle {
    font-family: Calibri, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #008000 !important;
}
